:root {
	--light-gray: #F5F5F5;
	--gray: #9196A6;
	--dark-blue: #30445A;
    --main-color: #000;
    --var-red: #CA6A6B;
    --red: #E25458;
    --yellow-text: #F4D39F;
	--hover-border: #F9E5C5;
	--var-background: #FFEBC8;
	--nav-background: #30445A;
	--nav-textcolor: #fff;
	--nav-fontweight: 500;
	--nav-current-color: var(--var-red);
	--footer-background: var(--dark-blue);
	--footer-textcolor: #888D9B;
	--footer-border: var(--dark-blue);
	--body-bg: var(--light-gray);
    --serif: 'Source Serif Pro', georgia,serif;
    --sans-serif: -apple-system,BlinkMacSystemFont,"avenir next",avenir,helvetica,"helvetica neue",ubuntu,roboto,noto,"segoe ui",arial,sans-serif;
	--paragraph-font-family: var(--serif);	
	--paragraph-font-size: 18px;
	--emphas-color: var(--dark-blue);
	--footer-hover-color: #D2D6DF;
	--heart-bulb-color: #fff;
}

[data-theme="yellow"] {
	--nav-background: #FFEBC8;
	--nav-textcolor: var(--dark-blue);
	--nav-fontweight: 600;
	--footer-background: var(--light-gray);
	--footer-border: #E8E8E8;
	--footer-hover-color: var(--dark-blue);
	--heart-bulb-color: var(--dark-blue);
}


[data-theme="full-yellow"] {
	--nav-background: #FFEBC8;
	--nav-textcolor: var(--dark-blue);
	--nav-fontweight: 600;
	--footer-background: var(--nav-background);
	--footer-border: #D4C8B7;
	--body-bg: var(--nav-background);
	--footer-hover-color: var(--dark-blue);
	--heart-bulb-color: var(--dark-blue);
}

[data-theme="gray"] {
	--nav-background: var(--light-gray);
	--nav-textcolor: var(--dark-blue);
	--nav-fontweight: 600;
	--footer-background: var(--light-gray);
	--footer-border: #E8E8E8;
	--footer-hover-color: var(--dark-blue);
	--heart-bulb-color: var(--dark-blue);
}

[data-theme="search"] {
	--nav-background: var(--light-gray);
	--nav-textcolor: #666;
	--nav-fontweight: 600;
	--footer-background: var(--light-gray);
	--footer-border: #E8E8E8;
	--footer-hover-color: var(--dark-blue);
	--heart-bulb-color: #E25458;
}

[data-theme="white-gray"] {
	--nav-background: #fff;
	--nav-textcolor: #666;
	--nav-fontweight: 600;
	--body-bg: #fff;
	--paragraph-font-family: var(--sans-serif);
	--paragraph-font-size: 16px;
	--emphas-color: var(--dark-blue);
	--footer-background: #fff;
	--footer-border: #E8E8E8;
	--footer-hover-color: var(--dark-blue);	
	--heart-bulb-color: #ECC792;
	--nav-current-color: #ECC792;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--sans-serif);
	font-size: 16px;
	line-height: 1.3;
	color: var(--main-color);
	background-color: var(--body-bg);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;*/
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

